:root {
  --clr-primary: rgb(54, 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

ul {
  list-style-type: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
}

#divBody {
  width: 30%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

#titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
}

#list {
  display: flex;
  flex-direction: column;
}

#list form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
  height: 60px;
  font-size: 15px;
  font-weight: 400;
}

#new-task-input {
  font-style: italic;
  width: 80%;
  font-size: 15px;
}

#item-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#item-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
}

#clear-btn {
  width: 100%;
  height: 60px;
  background-color: rgba(240, 232, 232, 0.5);
}

.label {
  width: 60%;
  margin-right: 20%;
}

.description-input {
  width: 90%;
  font-size: 15px;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: flex-inline;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  left: 1.5em;
  top: 50%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}